<table class="results-table">
  <thead>
    <tr>
      <th>Download</th>
      <th>Upload</th>
      <th>Ping</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody id="tbody">
    <!-- Results will be populated here -->
  </tbody>
</table>
